@model ClientViewID

<div class="container text-center shadow-lg p-4 mt-3">
    <h2>Add a New Address For <span>@Model.Name</span></h2> 
    <p style="color:darkgrey"> Replace the address Below To Create an other value  !</p>
    <form method="post" asp-controller="Client" asp-action="AddLIst" class="m-4">
       
        <input class="m-2 form-control" type="text" asp-for="Address" placeholder="Enter New Address"/>
        <input hidden asp-for="Id" value="@Model.Id"/>
        <button type="submit" class="btn btn-outline-primary">Add</button>
    </form>
    
</div>